/* Large view - width >= 600px */
@media only screen and (min-width: 625px) {
  .page-wrapper {
    padding-top: 85vh; }
  /* INTRO */
  .intro {
    /* Header (Banner) */
    /* Summary */
    /* Preamble */ }
    .intro header {
      padding: 90px 20px;
      font-size: x-large;
      position: absolute;
      top: 30vh;
      left: 50%;
      transform: translateX(-50%); }
      .intro header h2 {
        font-size: medium;
        margin-top: -30px; }
    .intro .summary {
      font-size: medium; }
    .intro .preamble {
      all: unset; }
      .intro .preamble h3 {
        position: absolute;
        right: inherit;
        left: 50%;
        transform: translateX(-210%);
        top: 50vh; } }
      @media only screen and (min-width: 625px) and (min-width: 800px) {
        .intro .preamble h3 {
          transform: translateX(-260%); } }

@media only screen and (min-width: 625px) {
      .intro .preamble.open p:last-child {
        all: unset; }
  /* SUPPORTING */
  .supporting {
    /* Explanation */
    /* Participation */
    /* Benefits */
    /* Requirements */
    /* Footer */ }
    .supporting .explanation {
      all: unset; }
      .supporting .explanation h3 {
        position: absolute;
        left: 50%;
        transform: translateX(-200%);
        top: 25vh; } }
      @media only screen and (min-width: 625px) and (min-width: 800px) {
        .supporting .explanation h3 {
          transform: translateX(-250%); } }

@media only screen and (min-width: 625px) {
      .supporting .explanation.open p:last-child {
        all: unset; }
    .supporting .participation {
      all: unset; }
      .supporting .participation h3 {
        position: absolute;
        right: inherit;
        left: 50%;
        transform: translateX(-130%);
        top: 13vh; } }
      @media only screen and (min-width: 625px) and (min-width: 800px) {
        .supporting .participation h3 {
          transform: translateX(-180%); } }

@media only screen and (min-width: 625px) {
      .supporting .participation.open p:last-child {
        all: unset; }
    .supporting .benefits {
      all: unset; }
      .supporting .benefits h3 {
        position: absolute;
        left: 50%;
        top: 17vh; } }
      @media only screen and (min-width: 625px) and (min-width: 800px) {
        .supporting .benefits h3 {
          transform: translateX(50%); } }

@media only screen and (min-width: 625px) {
      .supporting .benefits.open p:last-child {
        all: unset; }
    .supporting .requirements {
      all: unset; }
      .supporting .requirements h3 {
        position: absolute;
        right: inherit;
        left: 50%;
        transform: translateX(100%);
        top: 25vh; } }
      @media only screen and (min-width: 625px) and (min-width: 800px) {
        .supporting .requirements h3 {
          transform: translateX(150%); } }

@media only screen and (min-width: 625px) {
      .supporting .requirements.open p:last-child {
        all: unset; }
    .supporting footer {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%); }
      .supporting footer a {
        display: inline;
        padding: 5px 0;
        font-size: small;
        text-decoration: none; }
  /* WRAPPER*/
  .wrapper {
    /* Design selection */
    /* Design archives */
    /* Zen resources */ }
    .wrapper .design-selection {
      all: unset; }
      .wrapper .design-selection h3 {
        position: absolute;
        right: inherit;
        left: 50%;
        transform: translateX(120%);
        top: 55vh; } }
      @media only screen and (min-width: 625px) and (min-width: 800px) {
        .wrapper .design-selection h3 {
          transform: translateX(170%); } }

@media only screen and (min-width: 625px) {
      .wrapper .design-selection.open nav:last-child {
        all: unset; }
      .wrapper .design-selection ul {
        background-color: aquamarine;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        /* Design a scrollbar */ }
        .wrapper .design-selection ul::-webkit-scrollbar {
          height: 6px; }
        .wrapper .design-selection ul::-webkit-scrollbar-thumb {
          background: #000;
          border-radius: 10px; }
        .wrapper .design-selection ul li {
          scroll-snap-align: start; }
      .wrapper .design-selection li {
        width: 100vw;
        background-color: #d9b0ff;
        text-align: center;
        /* Adding a preview picture */ }
        .wrapper .design-selection li:first-child {
          margin-left: -40px;
          background-color: antiquewhite; }
        .wrapper .design-selection li .design-name::before {
          content: "";
          width: 98vw;
          height: 50vw;
          max-height: 300px;
          display: inline-block;
          background-size: 100vw;
          background-image: url("../images/image.png");
          background-repeat: no-repeat; }
    .wrapper .design-archives {
      all: unset; }
      .wrapper .design-archives h3 {
        position: absolute;
        left: 50%;
        transform: translateX(75%);
        top: 75vh; } }
      @media only screen and (min-width: 625px) and (min-width: 800px) {
        .wrapper .design-archives h3 {
          transform: translateX(125%); } }

@media only screen and (min-width: 625px) {
      .wrapper .design-archives.open nav:last-child {
        all: unset; }
    .wrapper .zen-resources {
      all: unset; }
      .wrapper .zen-resources h3 {
        position: absolute;
        left: 50%;
        transform: translateX(-140%);
        top: 73vh; } }
      @media only screen and (min-width: 625px) and (min-width: 800px) {
        .wrapper .zen-resources h3 {
          transform: translateX(-190%); } }

@media only screen and (min-width: 625px) {
      .wrapper .zen-resources.open nav:last-child {
        all: unset; } }
