/* Typography */
h1,
h2, h3 {
  font-family: $secondary-font;
  color: darken($color-3, 10%);
}

p {
    line-height: 1.4;
    color: darken($color-4, 20%);
}
.open {
    p, nav, ul {
        background: lighten($color-1, 5%);
        margin: 0 auto;
        padding: 5px;
        &:first-of-type {
            margin-top: 20px;
        }
    }
}

a {
    color: darken($color-2, 15%);
    text-decoration: underline;
}